*{
    margin: 0;
    padding: 0;
}
main{
    background-color: hsl(205, 100%, 5%);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-con{
    width: 50vw;
    aspect-ratio: 1/.5;
    background-color: black;
    /* border: 30px solid gray; */
    border-radius: 4px;
    /* padding: 2px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-body{
    width: 97%;
    height: 93%;
    background-color: rgb(65, 61, 61);
    position: relative;
}
.snake-con{
    background-color: green;
    width: 10vw;
    height: 2vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    animation: move 12s linear  infinite;
}

.snake{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: red;
}
.snake-body{
    width: 80%;
    height:100%;
    background-color: rgb(212, 147, 26);
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.snake-head{
    width: 19%;
    height:100%;
    background-color: rgb(219, 121, 9);
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
@keyframes move {
    0%{
        top: 0;
        left: 0;
    }
    25%{
       top: 0; 
       left: 79%;
       /* transform: rotate(100deg); */
    }
    50%{
        top: 96%;
        left: 79%;

    }
    75%{
       top: 96%;
       left: 0;

    }
    100%{
        top: 0;
        left: 0;
    }
}