*{
    margin: 0;
    padding: 0;
    font-family: Georgia;
}
header{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding: 11px 22px;
}
.logo h2{
    font-size: 1rem;
    letter-spacing: 1px;
    text-align: center;
}
.logo p{
    font-size: 8px;
    letter-spacing: 7px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 0, 0, 0.548);
    text-align: center;
    padding:0 0px 0 4px ;
}
